<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Avatar data:</strong>
  <%= image_tag @profile.avatar_url(:small) %>
</p>

<p>
  <strong>Username:</strong>
  <%= @profile.username %>
</p>
<%= link_to 'Edit Profile Information', edit_profile_path(@profile) %> |

<p>
<strong>Addresses</strong>
<% @addresses.each do |a| %>
    <p> <%= a.address %></p>
<% end %>
    
    </p>
<p>
<%= link_to "Add location", new_address_path(user_id: @user.id) %>

</p>
<p><%= link_to 'Edit Addresses', addresses_path %> |
</p>


