<%= form_with(model: bicycle, local: true) do |form| %>
    <% if bicycle.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(bicycle.errors.count, "error") %> prohibited this bicycle from being saved:</h2>

            <ul>
                <% bicycle.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <p>       <%= form.label :title %></p>
        <%= form.text_field :title, id: :bicycle_title, required: true %>
    </div>

    <div class="field">
      <p>  <%= form.label :price %></p>
        <%= form.text_field :price, id: :bicycle_price, required: true %>
    </div>

    <div class="field">
        <p><%= form.label :description %></p>
        <%= form.text_area :description, id: :bicycle_description, required: true %>
    </div>

    <div class="field">
       <p> <%= form.label :brand %></p>
        <%= form.text_field :brand, id: :bicycle_brand, required: true %>
    </div>


    <div class="field">
       <p> <%= form.label :size %></p>
        <%= form.select :size, ["", "XS(extrasmall)", "S(small)", "M(medium)", "L(large)", "XL(extra large)"], id: :bicycle_size, required: true %>
    </div>

    <div class="field">
       <p> <%= form.label :colour %></p>
        <%= form.text_field :colour, id: :bicycle_colour, required: true %>
    </div>

    <div class="field">
        <p> <%= form.label :gender %> </p>
        <%= form.select :gender,["unisex","female", "male"], id: :bicycle_gender, required: true %>
    </div>

    <div class="field">
       <p> <%= form.label :year %>
        <%= form.text_field :year, id: :bicycle_year, required: true %>
    </div>
    <% @bicycle.photos.each do |photo| %>
        <%# <%= render '/photos/form', photo: photo, bicycle: @bicycle  %1> %>
        <%=    image_tag photo.image_url(:medium) %>
        <p class="button">  <%= link_to 'Delete this photo', photo, method: :delete, data: { confirm: 'Are you sure?' }%></p>
    <% end %> 
    <% if @bicycle.id.nil? %>

    <% else %>
        <p class="button"><%= link_to 'Add photos', new_photo_path(bicycle_id: @bicycle.id) %></p>
    <% end %>




    <div class="actions">
        <%= form.submit "continue to bicycle", class: "submit-button" %>
    </div>
<% end %>
