<p id="notice"><%= notice %></p> 


<p>
<strong>Title:</strong>
<%= @bicycle.title %>
</p>

<p>
<strong>Price:</strong>
<%= @bicycle.price %>
</p>

<p>
<strong>Description:</strong>
<%= @bicycle.description %>
</p>

<p>
<strong>Brand:</strong>
<%= @bicycle.brand %>
</p>

<p>
<strong>Size:</strong>
<%= @bicycle.size %>
</p>

<p>
<strong>Colour:</strong>
<%= @bicycle.colour %>
</p>

<p>
<strong>Gender:</strong>
<%= @bicycle.gender %>
</p>

<p>
<strong>Year:</strong>
<%= @bicycle.year %>
</p>


<p>
<strong>User:</strong>
<%= @bicycle.user.profile.username %>
</p>
<p>
<strong>Photos</strong>

<p>    <%= link_to 'Add photos', new_photo_path(bicycle_id: @bicycle.id) if policy(@bicycle).update? %></p>
<% @photos.each do |photo| %>
    <%= image_tag photo.image_url(:medium) %>
<% end %>
</p>


<% if policy(@bicycle).update? %>
    <%= link_to 'Edit', edit_bicycle_path(@bicycle) %> |
<% end %>
<%= link_to 'Back', root_path %>

<%= link_to "#{@bicycle.user.profile.username} profile ", profile_path(@bicycle.user.id) %>

<p><strong>Questions and Answers </strong> </p>
<p id="notice"><%= notice %></p> 

    <%= link_to 'Ask a question', new_query_path(bicycle_id: @bicycle) unless policy(@bicycle).no_questions  %>

<p>
<% @queries.each do |query| %>
    <p><strong>  <%= query.user.profile.username %></strong> </p>
    <p><%= query.question %></p>
    <% if query.answer.present? %>
        <strong>     <%= @owner.username %> </strong>

        <p><%= query.answer %> </p>
    <% else %>
        <p>Question is awaiting response from <%= @owner.username %> </p>
    
    <% end %>
    <% if  @bicycle.user == current_user && query.answer.nil?  %>
        <%= link_to "Answer this question", edit_query_path(query) %> 
    <% else %>


    <% end %>


<% end %>

