<p id="notice"><%= notice %></p>
<%= link_to 'Add photos', new_photo_path(bicycle_id: @bicycle.id) %>
<p>
  <strong>Title:</strong>
  <%= @bicycle.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @bicycle.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bicycle.description %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @bicycle.brand %>
</p>

<p>
  <strong>Size:</strong>
  <%= @bicycle.size %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @bicycle.colour %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @bicycle.gender %>
</p>

<p>
  <strong>Year:</strong>
  <%= @bicycle.year %>
</p>


<p>
  <strong>User:</strong>
  <%= @bicycle.user %>
</p>
<p>
  <strong>Photos</strong>
  <% @photos.each do |photo| %>
  <%= image_tag photo.image_url(:medium) %>
  <% end %>
</p>



<%= link_to 'Edit', edit_bicycle_path(@bicycle) %> |
<%= link_to 'Back', bicycles_path %>
