
<div class="showbicycle">

    <div class="profile-card">
        <p id="notice"><%= notice %></p> 
        <% if @photos.first.nil?%>
        <% else %>
            <div class="photoviewer">  
                <%# <% @photos.each do |photo| %1> %>
                <%#     <%= image_tag photo.image_url(:medium) %1> %>
                <%# <% end %1> %>
            <%= image_tag @photos.first.image_url(:medium) %>
            </div>
        <% end %>
        <% if policy(@bicycle).update? %>
            <p class="button">    <%= link_to 'add photos', edit_bicycle_path(@bicycle)  %></p>
        <% else %>
        <% end%>
        <p>
        <strong><%= @bicycle.title %> </strong>
        </p>
        <div class="bicycle-details">
            <p>
            <strong> Posted: </strong>
            <%= @bicycle.created_at.strftime("%d %b %y") %>
            </p>
            <p>
            <strong> Updated: </strong>
            <%= @bicycle.updated_at.strftime("%d %b %y") %>
            </p>

            <p>
            <strong>Price:</strong>
            <%= @bicycle.price %>
            </p>


            <p>
            <strong>Brand:</strong>
            <%= @bicycle.brand %>
            </p>

            <p>
            <strong>Size:</strong>
            <%= @bicycle.size %>
            </p>

            <p>
            <strong>Colour:</strong>
            <%= @bicycle.colour %>
            </p>

            <p>
            <strong>Gender:</strong>
            <%= @bicycle.gender %>
            </p>

            <p>
            <strong>Year:</strong>
            <%= @bicycle.year %>
            </p>


            <p>
            <strong>Owner:</strong>
            <%= link_to "#{@owner.username} ", profile_path(@bicycle.user.id) %>
            </p>
            <p>
            <strong>Description:</strong>
            <%= @bicycle.description %>
            </p>
        </div>

        <% if policy(@bicycle).update? %>
            <p class="button">    <%= link_to 'Edit', edit_bicycle_path(@bicycle) %> </p>
        <% end %>
        <% if user_signed_in? && current_user != @bicycle.user  %>
            <%= form_for @purchase, :url => purchases_path(@purchase), :html => {:method => :post} do |f| %>
                <%= f.hidden_field :pickup, value: false %>
                <%= f.hidden_field :delivery_address, value: current_user.addresses.first.id %>
                <%= f.hidden_field :bicycle_id, value: @bicycle.id %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <p >   <%= f.submit "Buy", class: "button"%></p>
            <% end %>
        <% end %>




    </div>
    <div class="profile-card">
        <div><p> questions board </p></div>
        <% if user_signed_in? && current_user != @bicycle.user  %>
            <p class="button"> 
            <%= link_to 'Ask a question', new_query_path(bicycle_id: @bicycle)  %></p>

            <p>
        <% else %>

        <% end %>
        <% @queries.each do |query| %>
            <div class="reviewcard">
                <p> <%= query.created_at.strftime("%d %b %y")%> </p>
                <div class="userfield">
                    <strong> <p> <%= query.user.profile.username %>:</p></strong>
                    <p class="avatar"> <%= image_tag query.user.profile.avatar_url(:small) %></p> 

                </div>
                <p><%= query.question %></p>
                <strong> <p> <%= @owner.username %> (owner): </p> </strong>
                <% if query.answer.present? %>
                    <p class="response"><%= query.answer %> </p>
                <% else %>
                    <p class="response italic">Question is awaiting response from <%= @owner.username %> </p>

                <% end %>
                <% if  @bicycle.user == current_user && query.answer.nil?  %>
                    <div class="answerbutton"> <p><%= link_to "Answer this question", edit_query_path(query) %> </p> </div> 
                <% else %>


                <% end %>

            </div>

        <% end %>
    </div>
</div>
