<div class="showbicycle">
    <p id="notice"><%= notice %></p>
    <p><%= flash[:alert] %><p>
</div>

<div class="article">
    <div> 
        <h3> bikeSquare is here! </h3>
        <p> <strong>bikeSquare </strong> is where your purchase quality bikes from members of the communities all over Australia!</p> </div>
    <div> 
        <h3> Safe and easy! </h3>
        <p>It is easy, save and payment are secure! No more stresful cash transactions on the street.
        Always check the user reviews as well as remember to review people you bought from. It helps everyone making sure the bikes come from trustworthy source</p> 
    </div>
</div>

<div class="card-wrapper">
    <% @bicycles.each do |bicycle| %>
        <div class="card">
            <div class="date"> <p><%= bicycle.created_at.in_time_zone("Melbourne").strftime("%d %b %y") %></p> </div>
            <div class="title-content">
                <div class="bicycle_element title"> 

                    <div class="titletitle"><p><%= bicycle.title %></p> </div>
                    <div class="avatar">
                        <%=link_to( image_tag(bicycle.user.profile.avatar_url(:small)), profile_path(bicycle.user.profile),) %>
                    </div>


                </div>
                <div class="content">

                    <div class="bicycle_element photo">   
                        <%= link_to ( image_tag bicycle.photos.first.image_url(:small)), bicycle_path(bicycle.id) %> 
                    </div>
                    <div class="details">
                        <div class="bicycle_element first"> <p>   <%= number_to_currency(bicycle.price, unit: "AUD $") %> </p> </div>
                        <div class="bicycle_element second"> <p>   <%= bicycle.user.addresses.first.suburb %> </p> </div>
                        <div class="bicycle_element third"> <p>   <%= bicycle.size %></p> </div>
                        <div class="bicycle_element forth"> <p>   <%= bicycle.user.addresses.first.state %></p> </div>
                    </div>
                </div>
                <div class="devise-login">
                    <div class="bicycle_element"> <p>   <%= bicycle.description %></p> </div>

                </div>

            </div>
        </div>
    <% end %>

</div>

