<%= form_with(model: address, local: true) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%# <div class="field"> %>
      
  <%#     <p> <%= form.label :house_number %1></p> %>
  <%#   <%= form.text_field :house_number, id: :address_house_number, required: true %1> %>
  <%# </div> %>

  <div class="field">
   <p> <%= form.label :street_number %></p>
    <%= form.text_field :street_number, id: :address_street_number, required: true %>
  </div>

  <div class="field">
  <p>  <%= form.label :street %></p>
    <%= form.text_field :street, id: :address_street, required: true %>
  </div>

  <div class="field">
   <p> <%= form.label :suburb %></p>
    <%= form.text_field :suburb, id: :address_suburb, required: true %>
  </div>

  <%# <div class="field"> %>
  <%#  <p> <%= form.label :city %1></p> %>
  <%#   <%= form.text_field :city, id: :address_city, required: true %1> %>
  <%# </div> %>

  <div class="field">
   <p> <%= form.label :state %></p>
    <%= form.select :state, ['','NSW', 'VIC', 'QLD', 'SA', 'WA', 'NT', 'TAS'], id: :address_state, required: true %>
  </div>

  <div class="field">
    <p>  <%= form.label :country_code %></p>
    <%= form.country_select :country_code, id: :address_country_code, required: true %>
  </div>

  <div class="field">
   <p> <%= form.label :postal_code %></p>
    <%= form.number_field :postal_code, id: :address_postal_code, required: true %>
  </div>

  <div class="field">
      <p> <%= form.hidden_field :user_id, value: @user.id , id: :address_user_id, required: true %> </p>
  </div>

  <div class="actions">
    <%= form.submit "submit location", class: "submit-button" %>
  </div>
<% end %>
