<p id="notice"><%= notice %></p>

<p>
  <strong>Image data:</strong>
  <%= image_tag @photo.image_url(:medium) %>
</p>

<p>
  <strong>Bicycle:</strong>
  <%= @photo.bicycle %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
