<%= form_with(model: query, local: true) do |form| %>
  <% if query.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(query.errors.count, "error") %> prohibited this query from being saved:</h2>

      <div>
      <% query.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
      </div>
    </div>
  <% end %>
  <% if current_user != bicycle.user %>
  <div class="field">
   <p> <%= form.label :question %></p>
    <%= form.text_area :question, id: :query_question, required: true %>
  </div>
  <% elsif current_user == bicycle.user %>
    <p class="reviewcard">  <%= query.question %></p>
    <div class="field">
    <%= form.text_area :answer, id: :query_answer, placeholder: "answer here" %>
  </div>
  <% else %> 
  <% redirect_to root flash[:message] = "your not signed in" %>

  <% end %> 

  <div class="field">
    <%= form.hidden_field :bicycle_id, value: bicycle.id, id: :query_bicycle_id %>
  </div>
  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id, id: :query_user_id %>
  </div>

  <div class="actions">
    <%= form.submit "send", class: "submit-button" %>
  </div>
<% end %>
